@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #fdfcfc;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(237, 214, 242) 0%, rgb(51, 2, 143) 100%);
    border-radius: 5px;
}
 
/* Handle on hover */
